body{
    background-color: #111;
}
section{
    width: 1000px;
    position: absolute;
    top: 30%;
    left: 30%;
}
ul{
    list-style: none;
}
li{
    font-size: 30px;
    padding: 10px;
    border-bottom: 1px solid yellow;
    color:white;
}